* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

body {
    background-color: rgb(240, 240, 240);
}

/* Header */

header {
    padding: 30px;
    background-color: white;
}

.toboolist-title {
    display: inline-block;
    font-size: 50px;
}

.toboolist-logo {
    width: 70px;
    margin-right: 10px;
    vertical-align: top;
}

/* Central box */

.container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
}

/* Button bar */

.container-button {
    padding: 20px 60px;
    border-bottom: 2px solid lightgray;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.add-task {
    background-color: rgb(30, 149, 208);
    color: white;
    border: 1px solid transparent;
}

.add-section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

/* List box */

.container-list {
    padding: 40px 60px;
}

h2 {
    color: rgb(78, 78, 78);
}

li {
    font-size: larger;
    margin: 20px 0px;
}

.list-element {
}

.check {
    border-radius: 50%;
    margin-right: 15px;
    font-size: 12px;
}

.done {
    color:  rgb(14, 167, 108);
    border: 1px solid rgb(14, 167, 108);
    padding: 3px 5px;
}

.undone {
    color:  rgb(221, 55, 25);
    border: 1px solid rgb(221, 55, 25);
    padding: 3px 6px;

}

.tag {
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: small;
}

.editorial {
    background-color: rgb(30, 149, 208);
}

.goals {
    background-color: rgb(156, 85, 222);
}

.recruiting {
    background-color: rgb(71, 197, 155);
}

.mobile {
    background-color: rgb(247, 171, 30);
}

.website {
    background-color: rgb(223, 103, 157);
}

.sale {
    background-color: rgb(139, 192, 34);
}