* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

body {
    background-color: rgb(240, 240, 240);
}

/* Header */

header {
    padding: 30px;
    background-color: white;
}

.toboolist-title {
    display: inline-block;
    font-size: 50px;
}

.toboolist-logo {
    width: 70px;
    margin-right: 10px;
    vertical-align: top;
}

/* Central box */

.container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}

.container-button {
    padding: 20px 60px;
    border-bottom: 2px solid lightgray;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.add-task {
    background-color: rgb(30, 149, 208);
    color: white;
    border: 1px solid transparent;
}

.add-section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}